@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --derk-1: #181818;
  --derk-2: #474747;
  --derk-3: #757575;
  --derk-4: #a3a3a3;
  --derk-5: #d1d1d1;
  --derk-6: #e8e8e8;
  --derk-7: #f3f3f3;
  --white: #ffffff;
  --bg-color: #fff8f3;
  --bg-prymary: #fd6e0a;
}
img {
  max-width: 100%;
}
.btn-prymary {
  background-color: var(--bg-prymary);
  padding: 18px 36px;
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 5px;
}
.btn-secendary {
  background-color: var(--bg-prymary);
  padding: 18px 36px;
  color: var(--white);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border: none;
  outline: none;
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
}
.btns {
  padding: 16px 30px;
  color: var(--bg-prymary);
  background: var(--white);
  font-size: 20px;
  font-weight: 700;
  border: 1px solid var(--bg-prymary);
  outline: none;
  border-radius: 5px;
  margin-left: 30px;
}
.header {
  width: 100%;
  background-color: var(--bg-color);
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.contioner{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}
.benner-title {
  color: rgb(71, 71, 71);
  font-size: 45px;
  font-weight: 600;
}
/* nav section */
.nav-title {
  font-weight: 800;
  font-size: 45px;
  margin: 50px 220px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 span {
  color: var(--bg-prymary);
}
.nev-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 220px;
}
.nev-items a {
  color: var(--derk-2);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;
}

/* hero section */
.benner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 220px;
  margin-right: 60px;
}
.benner-content {
  max-width: 580px;
}
.benner-title {
  color: var(--derk-2);
  font-size: 40px;
  font-weight: 600;
}
.hero-title {
  color: var(--derk-1);
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
.sectioon-desc {
  color: var(--derk-3);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 30px;
  padding-right: 26px;
}
.hero-img {
  width: 50%;
}
 /* About section  */

.about{
  background: var(--white);
}
.about-container{

  background: var(--bg-color);
  padding: 100px;
}
.section{
  margin-top: 100px;
} 
 .section-title, .title{
  color: var(--derk-1);
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
 .section-text{
   color: var(--derk-3);
   font-weight: 400;
   font-size: 18px;
   text-align: center;
   line-height: 30px;
   padding: 0 50px;
   margin-bottom: 50px;
 }
 .about-items{
  display: flex;
  justify-content: space-around;
  text-align: center;
 }
/* what i do section */
.card-section{
    background: #fff;
}
 .title{
  margin-top: 0;
 }
 .card-body{
  display: flex;
  gap: 10px;
 }
 .card{
  background: var(--white);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);            
 }
 .card-img img{
    width: 44px;
    height: 40px;
 }
 .card-title{
    color: var(--derk-1);
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-block: 20px;
 }
 .card-desc {
  color: var(--derk-3);
  font-size: 16px;
  font-weight: 400;
  text-align: left; 
  margin-bottom: 30px;
  }

  /* Resumme section  */
.resume{
  background: var(--white);
}
.resume h1{
  margin-bottom: 70px;
}
  .resume-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .resume-list{
    color: var(--derk-2);
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 30px;
  }
  .resume-title{
    color: var(--derk-2);
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
  }
  .sub-title{
    color: var(--derk-3);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
  }
.excprienc-card{
  margin-left: 35px;
}
/* footer section  */
#footer{
  background: #FFF8F3;

}
.footer-contant{
  display: flex;
  padding-block: 100px;
}
.text-left {
  text-align: left !important;
  padding-left: 0;
}
.right-side-text{
  width: 50%;
  margin-right: 50px;
}
.icons a{
  margin-right: 50px;
}
.left-side-text{
  width: 50%;
}
input[type="text"], input[type="password"], textarea{
  display: block;
  width: 100%;
  background: #fff;
  margin-bottom: 30px;
  border: none;
  outline: none;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 8px;
}
.hide{
  display: none;
}
    /* Media Screen and Mobile  */
@media screen and (max-width: 576px){
  .header{
    background-image: none;
    padding-inline: 20px;
  }
  .nav-bar {
    padding-block: 10px;
}
  .nev-items{
    display: none;
  }
  .nav-title{
    margin: 0;
  }
  .benner-section {
    flex-direction: column;
    margin-inline: 0;
    margin-top: 2.2rem;
  }
  .benner-title {
    font-size: 25px;
    font-weight: 500;
  }
  .hero-title {
    font-size: 45px;  
    margin-block: 10px;
  }
  .sectioon-desc {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .btn-prymary {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .btns{
    margin-left: 0;
  }
   .benner-section img{
    margin-top: 35px;
   }
   .hero-img {
    width: 100%;
  }
  .section {
    margin-top: 50px;
  }
  .contioner {
    max-width: 100%;
    margin: 0 auto;
  }
  .about-container {
    padding: 35px 0;
  }
  .section-text {
    font-size: 16px;
    line-height: 25px;
    padding: 0 30px;
  }
  .about-items{
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 10px;
  }
  .item-title{
    font-size: 14px;
    line-height: 30px;
  }
  .item-desc{
    font-size: 16px;
  }
  .card-body {
    gap: 10px;
    flex-direction: column;
  }
  .resume h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
    padding-inline: 15px;
  }
  .resume-body {
    /* margin-bottom: 20px; */
    flex-direction: column;
    padding-inline: 30px;
  }
  .resume-list {
    color: #000;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .resume-title {
    font-size: 20px;
    line-height: 30px;
  }
  .sub-title {
    font-size: 18px;
  }
  .resume-card  > .card-desc{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  hr{
    margin-bottom: 30px;
  }
  .excprienc-card {
    margin-left: 0px;
  }
  .resume .btn-secendary {
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .footer-contant {
    padding-block: 50px;
    flex-direction: column;
  }
  .text-left {
    text-align: left !important;
    padding-inline: 20px;
    margin-bottom: 25px;
  }
  .right-side-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .icons a {
    margin-right: 20px;
    padding-inline: 20px;
  }
  .left-side-text {
    width: 100%;
  }
  form{
    padding-inline: 18px;

  }
}
    /* Media Screen and Tablet  */
@media screen and (min-width:576px) and (max-width: 992px){
  .header{
    background-image: none;
    padding-inline: 20px;
  }
  .nav-bar {
    padding-block: 10px;
    margin-left: 19%;
  }
  .nev-items{
    display: none;
  }
  .nav-title{
    margin: 0;
  }
  .benner-section {
    flex-direction: column;
    margin-inline: 0;
    margin-top: 2.2rem;
  }
  .benner-title {
    font-size: 25px;
    font-weight: 500;
  }
  .hero-title {
    font-size: 45px;  
    margin-block: 10px;
  }
  .sectioon-desc {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
  .btn-prymary {
    font-size: 16px;
    margin-bottom: 24px;
  }
  .btns{
    padding: 14px 24px;
    font-size: 16px;
    margin-left: 20px;
  }
   .benner-section img{
    margin-top: 35px;
   }
   .hero-img {
    width: 60%;
  }
  .section {
    margin-top: 50px;
  }
  .contioner {
    max-width: 100%;
    margin: 0 auto;
  }
  .about-container {
    padding: 35px 0;
  }
  .section-text {
    font-size: 16px;
    line-height: 25px;
    padding: 0 30px;
  }
  .about-items{
    flex-wrap: wrap;
    gap: 20px;
    padding-inline: 30px;
  }
  .item-title{
    font-size: 14px;
    line-height: 30px;
  }
  .item-desc{
    font-size: 16px;
  }
  .card-body {
    gap: 10px;
    flex-direction: column;
  }
  .resume h1 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
    padding-inline: 15px;
  }
  .resume-body {
    flex-direction: column;
    padding-inline: 30px;
  }
  .resume-list {
    color: #000;
    font-size: 24px;
    margin-bottom: 24px;
  }
  .resume-title {
    font-size: 20px;
    line-height: 30px;
  }
  .sub-title {
    font-size: 18px;
  }
  .resume-card  > .card-desc{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  hr{
    margin-bottom: 30px;
  }
  .excprienc-card {
    margin-left: 0px;
  }
  .resume .btn-secendary {
    padding: 14px 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  .footer-contant {
    padding-block: 50px;
    flex-direction: column;
  }
  .text-left {
    text-align: left !important;
    padding-inline: 20px;
    margin-bottom: 25px;
  }
  .right-side-text {
    width: 100%;
    margin-bottom: 40px;
  }
  .icons a {
    margin-right: 20px;
    padding-inline: 20px;
  }
  .left-side-text {
    width: 100%;
  }
  form{
    padding-inline: 18px;

  }
}