@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* font-family: "Open Sans", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --derk-1: #181818;
  --derk-2: #474747;
  --derk-3: #757575;
  --derk-4: #a3a3a3;
  --derk-5: #d1d1d1;
  --derk-6: #e8e8e8;
  --derk-7: #f3f3f3;
  --white: #ffffff;
  --bg-color: #fff8f3;
  --bg-prymary: #fd6e0a;
}
.btn{
    background-color: var(--bg-prymary);
    padding: 18px 36px;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 5px;
}
.header {
    min-width: 1200px;
    min-height: 500px;
    background-color: var(--bg-color);
    background-image: url();
}
.title {
    color: rgb(71, 71, 71);

 font-size: 45px;
 font-weight: 600;
 line-height: 61px;
 letter-spacing: 0%;
}
/* nav section */
.sectioon-title{
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 0%;
    line-height: 61px;
    margin: 50px 220px;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar span {
  color: var(--bg-prymary);
}
.nev-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 220px;
}
.nev-items a {
  color: var(--derk-2);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 20px;

}

/* hero section */
.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.hero-title{
    margin-left: 226px;
}
.hero-text{
    color: var(--derk-1);
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    margin-bottom: 20px;
}
.sectioon-desc {
    color: var(--derk-3);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    margin-bottom: 30px;
}
.btns{
    margin-right: 30px;
}
.hero-img img {
    width: 500px;
    height: 576px;
}